<footer th:fragment="footer" class="text-center">
	<hr style="border-color: grey; width: 90%">
	<p><small>&#169;</small> 2022 Copyright: NOMBRE PROYECTO &middot; Todos los derechos reservados</p>
	<ul class="list-inline">
		<li class="list-inline-item"><a target="_blank" href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a></li>
		<li class="list-inline-item"><a target="_blank" href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a></li>
		<li class="list-inline-item"><a target="_blank" href="https://www.twitter.com/"><i class="bi bi-twitter"></i></a></li>
		<li class="list-inline-item"><a target="_blank" href="https://github.com/carlosdaw04/ProyectoDAM"><i class="bi bi-github"></i></a></li>
		<li class="list-inline-item"><a target="_blank" href="https://es.wikipedia.org/wiki/William_Shakespeare"><i class="bi bi-google"></i></a></li>
	</ul>
</footer>
