<head>

	<!-- Scripts cargados en footer -->

    <!-- Icono -->
    <link rel="icon" th:href="@{/img/book.png}">
    
    <!-- Bootstrap CSS -->
	<link th:href="@{/bootstrap/bootstrap-custom.css}" rel="stylesheet">
	
	<!-- Bootstrap Icons -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
	
	<!-- CSS -->
	<link rel="stylesheet" th:href="@{/css/estilo.css}" type="text/css"/>

	<!-- default styles -->
	<link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/css/star-rating.min.css" media="all" rel="stylesheet" type="text/css" />

	<!-- with v4.1.0 Krajee SVG theme is used as default (and must be loaded as below) - include any of the other theme CSS files as mentioned below (and change the theme property of the plugin) -->
	<link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/themes/krajee-svg/theme.css" media="all" rel="stylesheet" type="text/css" />
</head>
