<nav class="navbar navbar-expand-lg navbar-light bg-light py-4">
	<div class="container-fluid">
		<a class="navbar-brand" th:href="@{/}">LOGO</a>
		
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/}" th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}">
						Inicio
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/usuarios/listaUsuarios}" th:classappend="${#httpServletRequest.getRequestURI() == '/usuarios/listaUsuarios' ? 'active':''}">
						Lista de usuarios
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/generos/listaGeneros}" th:classappend="${#httpServletRequest.getRequestURI() == '/generos/listaGeneros' ? 'active':''}">
						Lista de géneros
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/autor/autores}" th:classappend="${#httpServletRequest.getRequestURI() == '/autor/autores' ? 'active':''}">
						Lista de autores
					</a>
				</li>
			</ul>
			
			<div class="text-white" sec:authorize="isAnonymous()">
				<a type="button" class="btn btn-primary" th:href="@{/login}">Login</a>
				<a type="button" class="btn btn-light" th:href="@{/usuarios/registro}">Registrarse</a>
			</div>

    		<div class="text-white" sec:authorize="isAuthenticated()">
    			<a type="button" class="btn btn-primary" th:href="@{/usuarios/ver/{usuario}(usuario=${usuario.nombreUsuario})}"><span sec:authentication="name">USUARIO</span></a>
				
				<!--  User: <span sec:authentication="name">miquel</span> -->
				<a type="button" class="btn btn-danger" th:href="@{/logout}">Logout</a>
			</div>
		</div>
	
	</div>
</nav>
