<nav class="navbar navbar-expand-lg bg-quaternary py-4">
	<div class="container-fluid">
		<a class="navbar-brand" th:href="@{/}">LOGO</a>
		
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/}" th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}">
						Inicio
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/usuario/usuarios}" th:classappend="${#httpServletRequest.getRequestURI() == '/usuario/usuarios' ? 'active':''}">
						Lista de usuarios
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/genero/generos}" th:classappend="${#httpServletRequest.getRequestURI() == '/genero/generos' ? 'active':''}">
						Lista de géneros
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/autor/autores}" th:classappend="${#httpServletRequest.getRequestURI() == '/autor/autores' ? 'active':''}">
						Lista de autores
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/libro/libros}" th:classappend="${#httpServletRequest.getRequestURI() == '/libro/libros' ? 'active':''}">
						Lista de libros
					</a>
				</li>
			</ul>
			
			<div class="text-white" sec:authorize="isAnonymous()">
				<a type="button" class="btn btn-tertiary" th:href="@{/login}">Login</a>
				<a type="button" class="btn btn-primary" th:href="@{/usuario/registro}">Registrarse</a>
			</div>

    		<div class="text-white btn-group dropstart" sec:authorize="isAuthenticated()">
    			<!--  User: <span sec:authentication="name">miquel</span> -->
				
				<button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    				<span sec:authentication="name">USUARIO</span>
  				</button>
  				<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
				    <li><a class="dropdown-item" th:href="@{/usuario/ver/{usuario}(usuario=${usuario.nombreUsuario})}"><i class="bi bi-person-circle"></i> Ver usuario</a></li>
				    <li><a class="dropdown-item bg-danger" th:href="@{/logout}"><i class="bi bi-x-square"></i> Logout</a>
				</li>
  				</ul>
			</div>
		</div>
	
	</div>
</nav>
