@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

/* PROYECTO */
html * {
	font-family: 'Asap', sans-serif;
   	color: white !important;
}

body {
	background-color: #262626;
}

.active{
	color: #DFDFDE !important;
}

input[type='text'], input[type='number'], input[type='password'], input[type='date'], textarea, select {
  	border: none !important;
  	border-bottom: 2px solid white !important;
  	border-right: 2px solid white !important;
	color: black !important;
}

option {
	color: black !important;
}

.dropdown-menu {
	background-color: #C09F80;
}

br {
	 background-color : red;
}

.text-truncate {
	-webkit-line-clamp: 6;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.text-truncate-2 {
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}