@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

/* PROYECTO */
html * {
	font-family: 'Asap', sans-serif;
   	color: white !important;
}

body {
	background-color: #171717;
}

.active{
	color: #DFDFDE !important;
}

input[type='text'], input[type='number'], input[type='password'], input[type='date'], textarea, select {
  	border: none !important;
  	border-bottom: 2px solid white !important;
  	border-right: 2px solid white !important;
	color: black !important;
}
