<html>
	<head>
	    <title>Vista de Usuario</title>
	    
	    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<div th:replace="../fragments/head.html :: head" th:remove="tag"/>
		
	</head>
	
	<body>
		<nav th:replace="../fragments/nav.html :: nav"></nav>

		<section class="container">
		
			<h1 class="text-center mt-3" th:text="${usuario.nombreUsuario}"> </h1>
		
			<ul class="list-group list-group-flush">
				<li class="list-group-item list-group-item-action bg-transparent"><b>Nombre: </b><span th:text="${usuario.nombre}"></span></li>
				<li class="list-group-item list-group-item-action bg-transparent"><b>Apellidos: </b><span th:text="${usuario.apellidos}"></span></li>
				<li class="list-group-item list-group-item-action bg-transparent"><b>Rol: </b><span th:text="${usuario.rol.nombre}"></span></li>
			</ul>

			<ul th:each="estado: ${estados}">
				<a class="btn btn-primary" th:text="${estado.nombre}" th:href="@{/usuario/ver/{usuario}/{estado}(usuario=${usuario.nombreUsuario}, estado=${estado.id})}"></a>
			</ul>
		</section>
		
		<footer th:replace="../fragments/footer.html :: footer"></footer>
	</body>
</html>
