<!DOCTYPE html>
<html>
	<head>
	    <title>Búsqueda en género</title>
	    
	    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<div th:replace="../fragments/head.html :: head" th:remove="tag"/>
	</head>
	
	<body>
		<nav th:replace="../fragments/nav.html :: nav"></nav>
		
		<section class="container mt-3">
			<div class="row mb-3">
				<h1 class="col-10"> Búsqueda en el género <span th:text="${genero.nombre}" th:remove="tag"></span>: <span th:text="${busqueda.nombre}" class="text-muted"></span></h1>
				<form th:action="@{/genero/ver/{genero}/buscar(genero=${genero.codigo})}" th:object="${nuevaBusqueda}" method="get" class="col-2 align-self-center">
					<div class="">
						<input type="text" th:field="*{nombre}" id="nombreBuscar" class="form-control shadow" placeholder="Buscar...">
					</div>
				</form>
				
				<hr class="my-3">
			</div>

			<div class="row">
				<div class="col-9">	
					<h2>OBRAS</h2>
				</div>
				<div class="col-3 float-end" th:if="(${#authorization.expression('hasAuthority(''ADMIN'')')})">
					<button class="btn btn-tertiary" data-bs-toggle="modal" data-bs-target="#editarModal">Editar</button>
					<button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#borrarModal">Borrar</button>
				</div>
			</div>
			
			<div th:switch="${#lists.isEmpty(listaLibrosGenero)}">
				<div th:case="false">
					<div th:each="libro: ${listaLibrosGenero}" id="libro" class="row mb-5 py-2">
						<div class="col-lg-2 col-md-3 col-xs-3">
							<img th:src="@{${libro.portadaPath}}" style="max-width:100%;">
						</div>
						<div class="col-xl-10 col-md-9 col-xs-9">
							<h3 th:text="${libro.titulo}"></h3>
							<p th:text="${libro.autor.nombre}"></p>
							<p th:text="${libro.sinopsis}" id="sinopsis" class="text-truncate" style="white-space: pre-line;"></p>
							
							<a class="btn btn-primary" th:href="@{/libro/ver/{isbn}(isbn=${libro.isbn})}">Ver libro</a>
						</div>
						
						</br>
					</div>
				</div>
				
				<div th:case="true">
					<h4>Este género todavía no tiene libros.</h4>
				</div>
			</div>

			<!-- PAGINACIÓN -->
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<nav aria-label="Pagination bg-transparent">
						<ul class="pagination justify-content-center bg-transparent">
							<li class="page-item bg-transparent" th:classappend="${prev == 0 ? 'disabled': ''}">
								<a class="page-link" th:href="@{/genero/ver/{genero}/buscar(genero=${genero.codigo},nombre=${busqueda.nombre},page=${prev})}">Anterior</a>
							</li>
							<li class="page-item" th:each="page: ${paginas}" th:classappend="${current == page ? 'active': ''}">
								<a class="page-link" th:href="@{/genero/ver/{genero}/buscar(genero=${genero.codigo},nombre=${busqueda.nombre},page=${page})}" th:text="${page}"></a>
							</li>
							<li class="page-item" th:classappend="${current == last ? 'disabled': ''}">
								<a class="page-link" th:href="@{/genero/ver/{genero}/buscar(genero=${genero.codigo},nombre=${busqueda.nombre},page=${next})}">Siguiente</a>
							</li>
							</ul>
					</nav>
				</div>
				<div class="col-md-2"></div>
			</div>
		</section>
        
		<footer th:replace="../fragments/footer.html :: footer"></footer>
	    <script src="/js/verGenero.js"></script>
	</body>
</html>
