<!DOCTYPE html>
<html>
	<head>
	    <title>Nuevo género</title>
	    
	    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<div th:replace="../fragments/head.html :: head" th:remove="tag"/>
		
	</head>
	
	<body>
	
   		<nav th:replace="../fragments/nav.html :: nav"></nav>
	    
	    <section class="container my-5">
			
			<h1 class="text-center">NUEVO GÉNERO</h1>
			
			<form action="#" th:action="@{/genero/addGenero}" th:object="${genero}" method="post">
				<div class="mb-3">
					<label for="codigo" class="form-label">Código</label>
					<input type="text" class="form-control" th:field="*{codigo}" id="codigo" placeholder="Código">
					<small class="form-text text-danger" th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}"></small>
				</div>
					
				<div class="mb-3">
					<label for="nombre" class="form-label">Nombre del género</label>
				    <input type="text" class="form-control" th:field="*{nombre}" id="nombre" placeholder="Nombre">
				    <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
				</div>
				
				<button type="submit" class="btn btn-success">Adelante</button>
			</form>
			
		</section>
		
	</body>
</html>