<!DOCTYPE html>
<html>
	<head>
	    <title>Lista de autores</title>
	
	    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<div th:replace="../fragments/head.html :: head" th:remove="tag"/>  
	</head>
	
	<body>
		<nav th:replace="../fragments/nav.html :: nav"></nav>
		
		<!-- NUEVO AUTOR -->
		<div th:if="(${#authorization.expression('hasAuthority(''ADMIN'')')})">
			<a class="btn btn-primary float-end" th:href="@{/autor/nuevoAutor}">Nuevo autor</a>
		</div>

	    <section class="container mt-3">
			<div class="row mb-3">
				<h1 class="col-10">AUTORES</h1>
				<form th:action="@{/autor/buscar}" th:object="${busqueda}" method="get" class="col-2 align-self-center">
					<div class="">
						<input type="text" th:field="*{nombre}" id="nombreBuscar" class="form-control shadow" placeholder="Buscar...">
					</div>
				</form>

				<hr class="my-3">
			</div>

			<div class="row row-cols-6 g-4">
				<div class="col" th:each="autor: ${listaAutores}">
				    <div class="card h-100 bg-transparent border-0">
				    	<a th:href="@{/autor/ver/{autor}(autor=${autor.id})}"><img th:src="@{${autor.fotoPath}}" class="card-img-top rounded" th:alt="${autor.nombre}"></a>
				       	<div class="card-body">
				    		 <h6 class="card-title text-center"><a class="text-decoration-none" th:href="@{/autor/ver/{autor}(autor=${autor.id})}" th:text="${autor.nombre}"> nombre </a></h6>
				       	</div>
				    </div>
				</div>
			</div>

			<!-- PAGINACIÓN -->
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<nav aria-label="Pagination bg-transparent">
						<ul class="pagination justify-content-center bg-transparent">
							<li class="page-item bg-transparent" th:classappend="${prev == 0 ? 'disabled': ''}">
								<a class="page-link" th:href="@{/autor/autores(page=${prev})}">Anterior</a>
							</li>
							<li class="page-item" th:each="page: ${paginas}" th:classappend="${current == page ? 'active': ''}">
								<a class="page-link" th:href="@{/autor/autores(page=${page})}" th:text="${page}"></a>
							</li>
							<li class="page-item" th:classappend="${current == last ? 'disabled': ''}">
								<a class="page-link" th:href="@{/autor/autores(page=${next})}">Siguiente</a>
							</li>
							</ul>
					</nav>
				</div>
				<div class="col-md-2"></div>
			</div>
	    </section>
	    
	    <footer th:replace="../fragments/footer.html :: footer"></footer>
	</body>
</html>
