<!DOCTYPE html>
<html>
	<head>
	    <title>Lista de autores</title>
	
	    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<div th:replace="../fragments/head.html :: head" th:remove="tag"/>  

	</head>
	
	<body>
		<nav th:replace="../fragments/nav.html :: nav"></nav>

	    <div class="container text-center">
	    	
	    	<div th:if="(${#authorization.expression('hasAuthority(''ADMIN'')')})">
	    		<a class="btn btn-primary float-end" th:href="@{/autor/nuevoAutor}">Nuevo autor</a>
	    	</div>
	    	<h1 class="mt-3 mb-5">AUTORES</h1>
			
			<div class="row row-cols-6 g-4">
				<div class="col" th:each="autor: ${autores}">
				    <div class="card h-100 bg-transparent border-0">
				    	<a th:href="@{/autor/ver/{autor}(autor=${autor.id})}"><img th:src="@{${autor.fotoPath}}" class="card-img-top rounded" th:alt="${autor.nombre}"></a>
				       	<div class="card-body">
				    		 <h6 class="card-title"><a class="text-decoration-none" th:href="@{/autor/ver/{autor}(autor=${autor.id})}" th:text="${autor.nombre}"> nombre </a></h6>
				       	</div>
				    </div>
				</div>
			</div>
			
			<a th:href="@{/autor/autores}">Volver al inicio</a>
			
	    </div>
	    
	    <footer th:replace="../fragments/footer.html :: footer"></footer>
	</body>
</html>