<!DOCTYPE html>
<html>
	<head>
	    <title>Nuevo autor</title>
	    
	    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<div th:replace="../fragments/head.html :: head" th:remove="tag"/>
		
	</head>
	
	<body>
	
   		<nav th:replace="../fragments/nav.html :: nav"></nav>
	    
	    <section class="container my-5">
			
			<h1 class="text-center">NUEVO AUTOR</h1>
			
			<form th:action="@{/autor/addAutor}" th:object="${autor}" method="post" id="nuevoAutorForm" enctype="multipart/form-data">
				<div class="mb-3">
					<label for="nombre" class="form-label">Nombre</label>
					<input type="text" class="form-control" th:field="*{nombre}" id="nombre" placeholder="Nombre">
					<small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
				</div>
					
				<div class="mb-3">
					<label for="pais" class="form-label">Pais</label>
				    <input type="text" class="form-control" th:field="*{pais}" id="pais" placeholder="Pais">
				    <small class="form-text text-danger" th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}"></small>
				</div>
				
				<div class="mb-3">
					<label for="fechaNacimiento" class="form-label">Fecha de nacimiento</label>
				    <input type="date" class="form-control" th:field="*{fechaNacimiento}" id="fechaNacimiento" placeholder="Fecha de nacimiento">
				    <small class="form-text text-danger" th:if="${#fields.hasErrors('fechaNacimiento')}" th:errors="*{fechaNacimiento}"></small>
				</div>
				
				<div class="mb-3">
					<label for="bio" class="form-label">Biografía</label>
					<textarea class="form-control" id="bio" th:field="*{bio}" rows="5" placeholder="Biografia"></textarea>
				    <small class="form-text text-danger" th:if="${#fields.hasErrors('bio')}" th:errors="*{bio}"></small>
				</div>
				
				<div class="mb-3">
					<label for="foto" class="form-label">Foto</label>
				    <input type="file" class="form-control text-dark" name="foto" id="foto" accept="image/*" >
				    <!-- <small class="form-text text-danger" th:if="${#fields.hasErrors('foto')}" th:errors="*{foto}" ></small> -->
				</div>
				<div>
					<p>Vista previa: </p>
					<img id="fotoThumbnail" class="rounded my-3" alt="Vista previa foto" th:src="*{fotoPath}" width="300"/>
				</div>
				
				<button type="submit" id="botonNuevo" class="btn btn-success">Adelante</button>
			</form>
			
		</section>
		
		<footer th:replace="../fragments/footer.html :: footer"></footer>
		
		<script>
			$(document).ready(function(){
				$('#fotoThumbnail').hide();
				
				$('#foto').change(function() {
					file = this.files[0];
					reader = new FileReader();
					reader.onload = function(e) {
						$('#fotoThumbnail').show();
						$('#fotoThumbnail').attr('src', e.target.result);
						$('#fotoThumbnail').attr('width', 300);
					};
					reader.readAsDataURL(file);
				});

			});
			
			$("#nuevoAutorForm").validate({
		  		rules: {
		    		field: {
		      			required: true,
		      			extension: "jpg|jpeg|png|gif|svg"
		    		}
		  		}
			});
			jQuery.extend(jQuery.validator.messages, {
			  accept: 'Escoge una imagen.'
			});
			
		</script>
	</body>
</html>
