<html>
	<head>
	    <title>Vista de autor</title>
	    
	    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<div th:replace="../fragments/head.html :: head" th:remove="tag"/>
		
	</head>
	
	<body>
		<nav th:replace="../fragments/nav.html :: nav"></nav>
		
		<h1 class="text-center mt-3" th:text="${autor.nombre}"> </h1>
		
		<div class="container">
			<ul class="list-group list-group-flush">
				<li class="list-group-item list-group-item-action bg-transparent"><b>Nombre: </b><span th:text="${autor.nombre}"></span></li>
				<li class="list-group-item list-group-item-action bg-transparent"><b>Pais: </b><span th:text="${autor.pais}"></span></li>
				<li class="list-group-item list-group-item-action bg-transparent"><b>Fecha de nacimiento: </b><span th:text="${autor.fechaNacimiento}"></span></li>
			</ul>
		</div>
		
	</body>
</html>
