<html>
	<head>
	    <title>Vista de autor</title>
	    
	    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<div th:replace="../fragments/head.html :: head" th:remove="tag"/>
		
	</head>
	
	<body>
		<nav th:replace="../fragments/nav.html :: nav"></nav>
		
		<div class="container">
		
			<div th:if="(${#authorization.expression('hasAuthority(''ADMIN'')')})">
		    	<a class="btn btn-primary float-end" th:href="@{/libro/nuevoLibro/{autor}(autor=${autor.id})}">Nuevo libro</a>
		    </div>
		    
		    <div sec:authorize="isAuthenticated()">
		    	<div th:if="${seguido}">
		    		<a type="button" class="btn btn-warning" th:href="@{/seguir/dejarSeguir/{seguir}(seguir=${seguir.id})}">Seguido</a>
		    	</div>
		    	
		    	<div th:unless="${seguido}">
		    		<form class="m-0" th:action="@{/seguir/addSeguir}" th:object="${seguir}" method="post">
						<div class="d-none">
							<label for="autor" class="form-label">id</label>
							<input type="text" class="form-control" th:value="${autor.id}" name="autor" id="autor">
						</div>
						
						<button type="submit" class="btn btn-outline-warning">Seguir</button>
					</form>
		    	</div>
		    </div>
		    
		    <div class="row">
				<h1 class="col-12 text-center mt-3" th:text="${autor.nombre}"> NOMBRE AUTOR </h1>
				<h6 class="col-12 text-center"><span th:text="${numeroSeguidores}" th:remove="tag"></span> seguidores</h6>
			</div>
			
			<ul class="list-group list-group-flush mb-4">
				<li class="list-group-item list-group-item-action bg-transparent"><b>Nombre: </b><span th:text="${autor.nombre}"></span></li>
				<li class="list-group-item list-group-item-action bg-transparent"><b>Pais: </b><span th:text="${autor.pais}"></span></li>
				<li class="list-group-item list-group-item-action bg-transparent"><b>Fecha de nacimiento: </b><span th:text="${autor.fechaNacimiento}"></span></li>
			</ul>
			
			<p th:text="${autor.bio}" class="text-justify" style="text-indent: 1rem;"></p>

			<div class="row row-cols-4 g-4">
				<div class="col" th:each="libro: ${libros}">
				    <div class="card h-100 bg-transparent">
				       	<div class="card-body">
				    		<h5 class="card-title" th:text="${libro.titulo}">Titulo</h5>
				    		<h6 class="card-subtitle mb-2 text-muted" th:text="${libro.genero.codigo}"> genero </h6>
				    		<p class="card-text" th:text="${libro.autor.nombre}"> contenido </p>
							<a class="btn btn-primary" th:href="@{/libro/ver/{libro}(libro = ${libro.isbn})}">Ver</a>
				       	</div>
				    </div>
				</div>
			</div>

		<footer th:replace="../fragments/footer.html :: footer"></footer>
	</body>
</html>
