<html>
	<head>
	    <title>Vista de autor</title>
	    
	    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<div th:replace="../fragments/head.html :: head" th:remove="tag"/>
		
	</head>
	
	<body>
		<nav th:replace="../fragments/nav.html :: nav"></nav>
		
		<div class="container">
		
			<div th:if="(${#authorization.expression('hasAuthority(''ADMIN'')')})">
		    	<a class="btn btn-danger float-end" data-bs-toggle="modal" data-bs-target="#borrarModal">Borrar autor</a>
		    	<a class="btn btn-primary float-end" th:href="@{/libro/nuevoLibro/{autor}(autor=${autor.id})}">Nuevo libro</a>
		    	<a class="btn btn-tertiary float-end" th:href="@{/autor/editar/{autor}(autor=${autor.id})}">Editar autor</a>
		    	<a class="btn btn-tertiary float-end" data-bs-toggle="modal" data-bs-target="#cambiarFotoModal">Cambiar foto</a>
		    </div>
		    
		    <div sec:authorize="isAuthenticated()">
		    	<div th:if="${seguido}">
		    		<a type="button" class="btn btn-warning" th:href="@{/seguir/dejarSeguir/{seguir}(seguir=${seguir.id})}">Seguido</a>
		    	</div>
		    	
		    	<div th:unless="${seguido}">
		    		<form class="m-0" th:action="@{/seguir/addSeguir}" th:object="${seguir}" method="post">
						<div class="d-none">
							<label for="autor" class="form-label">id</label>
							<input type="text" class="form-control" th:value="${autor.id}" name="autor" id="autor">
						</div>
						
						<button type="submit" class="btn btn-outline-warning">Seguir</button>
					</form>
		    	</div>
		    </div>
		    
		    <div class="row mt-3">
			    <div class="col-3">
			    	<img class="" th:src="@{${autor.fotoPath}}" height="300">
			    </div>
			    <div class="col-9 mt-3">
				    <h1 class="col-12" th:text="${autor.nombre}"> NOMBRE AUTOR </h1>
					<h6 class="col-12"><span th:text="${numeroSeguidores}" th:remove="tag"></span> seguidores</h6>
			    </div>
			</div>
			
			</br>
			
			<ul class="list-group list-group-flush mb-4">
				<li class="list-group-item list-group-item-action bg-transparent"><b>Nombre: </b><span th:text="${autor.nombre}"></span></li>
				<li class="list-group-item list-group-item-action bg-transparent"><b>Pais: </b><span th:text="${autor.pais}"></span></li>
				<li class="list-group-item list-group-item-action bg-transparent"><b>Fecha de nacimiento: </b><span th:text="${autor.fechaNacimiento}"></span></li>
			</ul>
			
			<p th:text="${autor.bio}" class="text-justify" style="text-indent: 1rem;"></p>

			<div class="row row-cols-4 g-4">
				<div class="col" th:each="libro: ${libros}">
				    <div class="card h-100 bg-transparent">
				       	<div class="card-body">
				    		<h5 class="card-title" th:text="${libro.titulo}">Titulo</h5>
				    		<h6 class="card-subtitle mb-2 text-muted" th:text="${libro.genero.codigo}"> genero </h6>
				    		<p class="card-text" th:text="${libro.autor.nombre}"> contenido </p>
							<a class="btn btn-primary" th:href="@{/libro/ver/{libro}(libro = ${libro.isbn})}">Ver</a>
				       	</div>
				    </div>
				</div>
			</div>
		</div>
		
		
		<!-- BORRAR MODAL -->
		<div class="modal fade" id="borrarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  			<div class="modal-dialog">
    			<div class="modal-content text-dark">
      				<div class="modal-header">
        				<h5 class="modal-title text-dark" id="exampleModalLabel">¿Seguro que quieres borrar a este autor?</h5>
        				<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      				</div>
      				<div class="modal-body text-dark">
        				Si el autor tiene algún libro, no se borrará...
      				</div>
      				<div class="modal-footer">
        				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        				<a type="button" th:href="@{/autor/borrarAutor/{autor}(autor=${autor.id})}" class="btn btn-danger">Borrar</a>
      				</div>
    			</div>
  			</div>
		</div>

		<!-- CAMBIAR FOTO MODAL -->
		<div class="modal fade" id="cambiarFotoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  			<div class="modal-dialog">
    			<div class="modal-content bg-dark">
      				<div class="modal-header">
        				<h5 class="modal-title" id="exampleModalLabel"><span th:text="${autor.nombre}" th:remove="tag"></span>: Cambiar foto</h5>
        				<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      				</div>
      				<div class="modal-body text-dark">
        				<form th:action="@{/autor/changeFoto}" th:object="${autor}" id="cambiarFotoForm" method="post" enctype="multipart/form-data">
							<div class="d-none">
								<input type="text" class="form-control" th:field="*{id}" id="id">
								<input type="text" class="form-control" th:field="*{nombre}" id="nombre">
								<input type="text" class="form-control" th:field="*{pais}">
								<input type="date" class="form-control" th:field="*{fechaNacimiento}" id="fechaNacimiento">
								<textarea class="form-control" id="bio" th:field="*{bio}" rows="5"></textarea>
							</div>
							<div class="mb-3">
								<label for="foto" class="form-label">Foto</label>
							    <input type="file" class="form-control text-dark" name="foto" id="foto" accept="image/*" >
							    <!-- <small class="form-text text-danger" th:if="${#fields.hasErrors('foto')}" th:errors="*{foto}" ></small> -->
							</div>
							
							<div class="text-center">
								<img id="fotoThumbnail" class="rounded my-3" alt="Vista previa foto" th:src="*{fotoPath}" width="300"/>
							</div>
							
							<button type="submit" id="botonCambio" class="btn btn-success">Adelante</button>
						</form>
      				</div>
      				<div class="modal-footer">
        				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      				</div>
    			</div>
  			</div>
		</div>
		
		<footer th:replace="../fragments/footer.html :: footer"></footer>
		
		<script>
			$(document).ready(function(){
				$('#foto').change(function() {
					file = this.files[0];
					reader = new FileReader();
					reader.onload = function(e) {
						$('#fotoThumbnail').attr('src', e.target.result);
						$('#fotoThumbnail').attr('width', 300);
					};
					reader.readAsDataURL(file);
				});
				
				$('botonCambio').prop('disabled', true);
				$('#foto').on("change", function(){
					 if (!$("#foto").val()) {
						$('#botonCambio').prop('disabled', true);
					} else {
						$('#botonCambio').prop('disabled', false);
					}
				});
			});
			
			$("#cambiarFotoForm").validate({
		  		rules: {
		    		field: {
		      			required: true,
		      			extension: "jpg|png|gif|jpeg|svg"
		    		}
		  		}
			});
			jQuery.extend(jQuery.validator.messages, {
			  accept: 'Escoge una imagen.'
			});
			
		</script>
	</body>
</html>
